[submodule "nruzic-commons-conventions"]
	path = nruzic-commons-conventions
	url = git@github.com:nruzic/nruzic-commons-conventions.git
[submodule "nruzic-commons-assemblies"]
	path = nruzic-commons-assemblies
	url = git@github.com:nruzic/nruzic-commons-assemblies.git
[submodule "nruzic-commons-git"]
	path = nruzic-commons-git
	url = git@github.com:nruzic/nruzic-commons-git.git
[submodule "nruzic-commons-master"]
	path = nruzic-commons-master
	url = git@github.com:nruzic/nruzic-commons-master.git
[submodule "nruzic-commons-archetype"]
	path = nruzic-commons-archetype
	url = git@github.com:nruzic/nruzic-commons-archetype.git
